<body>
<!-- https://wisdmlabs.com/blog/responsive-tables-using-css-div-tag/ -->
<div id="resp-table-caption">As each has received a gift, use it to serve one another, as good stewards of God's varied grace. — 1 Peter 4:10 (ESV)</div><br><br>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="assets/img/MOLLIE_SQ.jpg" class="rounded-circle" style="width:400px; height:300px;"><br>
      <h3>Mollie Little</h3>
      <p>I advise ACO, the Lighthouse, and work through the Office of Spiritual and Religious Life.  I'm an Allegheny grad (1998), mother and wife, and have been serving students on campus for 20 years through the CCO. </p>

      <img src="assets/img/HANNAH_SQ.jpg" class="rounded-circle" style="width:400px; height:300px;"><br>
      <h3>Hannah Schultz</h3>
      <p><strong>Major:</strong> Computer Science</p>
      <p><strong>Minor:</strong> Chinese</p>
      <p><strong>Class Standing:</strong> Freshman</p>

      <img src="assets/img/SARAH_SQ.jpg" class="rounded-circle" style="width:400px; height:300px;"><br>
      <h3>Sarah Halprin</h3>
      <p><strong>Major:</strong> English</p>
      <p><strong>Minor:</strong> Spanish / Medieval and Renaissance Studies</p>
      <p><strong>Class Standing:</strong> Sophomore</p>

      <img src="assets/img/EMMA_SQ.jpg" class="rounded-circle" style="width:400px; height:300px;"><br>
      <h3>Emma Peterman</h3>
      <p><strong>Major:</strong>  Neuroscience</p>
      <p><strong>Minor:</strong> Music or Religous Studies </p>
      <p><strong>Class Standing:</strong> Freshman</p>
    </div>

    <div class="col-md-6">
      <img src="assets/img/GORDON_SQ.jpg" class="rounded-circle" style="width:400px; height:300px;"><br>
      <h3>Gordon Truesdale</h3>
      <p>Campus ministry changed my life, and through that I dedicated my life to Christ. I want to give back in that same way. I want to love students, support them, and be an example for them what it looks like to live their lives for Christ; in hope that He would change their lives as well. </p><br>

      <img src="assets/img/WILL_SQ.jpg" class="rounded-circle" style="width:400px; height:300px;"><br>
      <h3>Willard Crosby</h3>
      <p><strong>Major:</strong> Mathematics</p>
      <p><strong>Minor:</strong> Education Studies</p>
      <p><strong>Class Standing:</strong> Sophomore</p>

      <img src="assets/img/KIM_SQ.jpg" class="rounded-circle" style="width:400px; height:300px;"><br>
      <h3>Kimberlyn Rybak</h3>
      <p><strong>Major:</strong> English Literature</p>
      <p><strong>Minor:</strong> Theatre / Education Studies</p>
      <p><strong>Class Standing:</strong> Sophomore</p>

      <img src="assets/img/SHAE_SQ.jpg" class="rounded-circle" style="width:400px; height:300px;"><br>
      <h3>Shae Harrison</h3>
      <p><strong>Major:</strong> History</p>
      <p><strong>Minor:</strong> French</p>
      <p><strong>Class Standing:</strong> Sophomore</p>

    </div>
  </div>
</div>
