<body>
<!-- https://wisdmlabs.com/blog/responsive-tables-using-css-div-tag/ -->
<div id="resp-table-caption">service scripture quote</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="assets/img/MOLLIE_ACO.png" style="width:400; height:400;">
      <img src="assets/img/myhead.png">
      <img src="assets/img/SARAH_ACO.png">
      <img src="assets/img/EMMA_ACO.png">
    </div>
    <div class="col-md-6">
      <img src="assets/img/AMANDA_ACO.png">
      <img src="assets/img/WILL_ACO.png">
      <img src="assets/img/WILL_ACO.png">
      <img src="assets/img/SHAE_ACO.png">

    </div>
  </div>
</div>
