<body>
<!-- https://wisdmlabs.com/blog/responsive-tables-using-css-div-tag/ -->
<div id="resp-table-caption">As each has received a gift, use it to serve one another, as good stewards of God's varied grace. — 1 Peter 4:10 (ESV)</div><br><br>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="assets/img/MOLLIE_SQ.jpg" class="rounded-circle" style="width:400px; height:300px;"><br>
      <h3>Mollie Little</h3>
      <p>I advise ACO, the Lighthouse, and work through the Office of Spiritual and Religious Life.  I'm an Allegheny grad (1998), mother and wife, and have been serving students on campus for 20 years through the CCO. </p>

      <img src="assets/img/HANNAH_SQ.jpg" class="rounded-circle" style="width:400px; height:300px;"><br>
      <h3>Hannah Schultz</h3>
      <p><strong>Major:</strong> Computer Science</p>
      <p><strong>Minor:</strong> Chinese</p>
      <p><strong>Class Standing:</strong> Junior</p>

      <img src="assets/img/CELESTE_SQ.jpg" class="rounded-circle" style="width:400px; height:300px;"><br>
      <h3>Celeste Carl</h3>
      <p><strong>Major:</strong> Biology</p>
      <p><strong>Minor:</strong> Education</p>
      <p><strong>Class Standing:</strong> Senior</p>

      <img src="assets/img/EMMA_SQ.jpg" class="rounded-circle" style="width:400px; height:300px;"><br>
      <h3>Emma Peterman</h3>
      <p><strong>Major:</strong>  Neuroscience</p>
      <p><strong>Minor:</strong> Religous Studies </p>
      <p><strong>Class Standing:</strong> Junior</p>
      
      <img src="assets/img/JOSH_SQ.jpg" class="rounded-circle" style="width:400px; height:300px;"><br>
      <h3>Josh Heiser</h3>
      <p><strong>Major:</strong><br> Biology + Environmental Science</p>
      <p><strong>Minor:</strong> Spanish</p>
      <p><strong>Class Standing:</strong> Sophomore</p>
    </div>


    <div class="col-md-6">
      <img src="assets/img/MEGAN_SQ.jpg" class="rounded-circle" style="width:400px; height:300px;"><br>
      <h3>Megan Perz</h3>
      <p>I want to give students at Allegheny the same gift that was given to me as a student at IUP, to be fully known and loved by their community and help them learn how to have a personal relationship with Jesus.</p><br>

      <img src="assets/img/WILL_SQ.jpg" class="rounded-circle" style="width:400px; height:300px;"><br>
      <h3>Willard Crosby</h3>
      <p><strong>Major:</strong> Mathematics</p>
      <p><strong>Minor:</strong> Education</p>
      <p><strong>Class Standing:</strong> Senior</p>

      <img src="assets/img/AHANNAH_SQ.jpg" class="rounded-circle" style="width:400px; height:300px;"><br>
      <h3>Hannah Adsit</h3>
      <p><strong>Major:</strong> English</p>
      <p><strong>Minor:</strong> Spanish + Education</p>
      <p><strong>Class Standing:</strong> Sophomore</p>

      <img src="assets/img/AARON_SQ.jpg" class="rounded-circle" style="width:400px; height:300px;"><br>
      <h3>Aaron Adsit</h3>
      <p><strong>Major:</strong> Geology</p>
      <p><strong>Minor:</strong> Education</p>
      <p><strong>Class Standing:</strong> Junior</p>

      <img src="assets/img/ARI_SQ.jpg" class="rounded-circle" style="width:400px; height:300px;"><br>
      <h3>Ariana Suggs</h3>
      <p><strong>Major:</strong> English</p>
      <p><strong>Minor:</strong> Psychology</p>
      <p><strong>Class Standing:</strong> Junior</p>

    </div>
  </div>
</div>
