<form name="email" method="POST" netlify>
  <!-- <legend><strong></strong></legend><br> -->
  <label for="name">Name</label>
  <input type="text" name="name" id="name" autocomplete="name" placeholder="Your name" title="Please enter your name" required>

  <label for="email">Email</label>
  <input type="email" name="email" id="email" autocomplete="email" placeholder="Your email address" title="The domain portion of the email address is invalid (the portion after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>

  <legend>Choose the email lists would you like to subscribe to: </legend>
  <label><input type="checkbox" name="Allegheny Christian Outreach" value="1">Allegheny Christian Outreach</label>
  <label>Women's Bible Study</label><input type="checkbox" name="Women's Bible Study" value="2">
  <input type="checkbox" name="Dude's Bible Study" value="3"><label>Dude's Bible Study</label>
  <input type="checkbox" name="Prayer Meetings/Prayer Table" value="3">Prayer Meetings/Prayer Table

  <button type="submit" name="submit">Subscribe</button><br>
</form>
