---
layout: compress
---

<!DOCTYPE html>
<html data-current="{{ page.section }}" lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main>

      {{ content }}

    </main>

    {% include footer.html %}

    <script>
     function myFunction() {
       var x = document.getElementById("Mymobile-menu");
       if (x.className === "mobile-menu") {
         x.className += " responsive";
       } else {
         x.className = "mobile-menu";
       }
     }
   </script>

  </body>

</html>
